/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.modal-lost * {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
  height: 65vmin;
  display: flex;

  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #f3f4f6;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.game-details {
  color: #9ca3af;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #353e50;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.play-board .food {
  background: darkorange;
}
.play-board .head {
  background: #3f9afc;
}

.controls {
  display: flex;
  justify-content: space-between;
}
.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #9ca3af;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #d1d5db;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}

foto {
  border-radius: 5px;
}